
/*הלוח*/
#popUp{
    right: -840px;
}

/*התיבות להכנסה*/
.txt{
    text-align: center;
    border-style: solid;
    border-radius:50px;
    border-color:rgb(221, 194, 208);
    border-width: 5px;
    background-color:  rgba(67, 34, 49, 0.838);;
    width: 200px;
    height: 60px;
    margin-top: 30px;
    color: rgba(240, 248, 255, 0.5);
    font-size: 100%;
}

/*הערות*/
.lables{
    color: white;
}